/* 
Colors In Use:
Teal: rgb(70, 139, 151)
Grey: rgb(70, 139, 151) 
Red: #ee0000
*/

/* Basic Styles */

/* Table Scroll for Small Screens */
/* 
.results-section table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
  white-space: nowrap;
} 

/* General Styles */
body {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-family: "Chakra Petch", sans-serif;
  display: flex;
}

.container {
  display: flex;
  height: 100vh;
  /* margin: 0; */
  width: 100%;
}

/* Sidebar Navigation */
.sidebar {
  width: 250px;
  min-width: 250px;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-shrink: 0;
}

.sidebar .logo {
  font-size: 1.5em;
  margin-bottom: 30px; /* check if works */
  font-weight: bolder;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  width: 100%;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: rgb(70, 139, 151);
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  background-color: white;
  /* padding: 10px 20px; */
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.header h1 {
  margin: 0;
  font-size: 1.8em;
  font-weight: bold;
}

.season-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.season-selector label {
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

/* Stylized Dropdown */
.season-selector select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: box-shadow 0.3s ease;
  font-family: "Chakra Petch", sans-serif;
}

.season-selector select:focus {
  box-shadow: 0 0 5px rgba(70, 139, 151, 0.8);
  border-color: rgb(70, 139, 151);
}

.season-selector select option {
  background-color: #fff;
  color: #333;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 120px 80px 20px 80px;
  overflow-y: auto;
  background-color: #f3f3f3;

  scrollbar-color: rgb(70, 139, 151) #dcdcdc;
  scrollbar-width: thin;
  /* margin-left: 250px; */
}

/* Table Styles --------------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  border-style: dashed;
  text-align: left;
  /* table header border radius */
  /* border-radius: 10px;  */
}

table th {
  background-color: #e0e0e0;
}

/* table headers and asc desc indicator  */
thead th {
  position: relative;
  cursor: pointer;
  /* padding-right: 20px; */
}

thead th.asc::after {
  content: "🡱";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #ffffff;
}

thead th.desc::after {
  content: "🡳";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #ffffff;
}

/* fixes the border on race list  */
.table-wrapper {
  max-height: 359px;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid #cfcfcf; */
  /* border-collapse: collapse; */
  scrollbar-width: none;
  position: relative;
  /* --------- testing --------- */
  /* border-radius: 10px;  */
}

#race-table {
  width: 100%;
  border-collapse: collapse;
}

#race-table thead th {
  position: sticky;
  top: 0; /* --------------testing ------------- */
  background-color: #ee0000;
  color: white;
  z-index: 10;
  /* border-bottom: 0px solid #ccc; */

  text-align: left;
  padding: 10px;
}

/* width of the "Rounds" column */
#race-section table th:first-child,
#race-section table td:first-child {
  width: 80px;
  text-align: center;
}

/* width of the "Results" column */
#race-section table th:nth-child(3),
#race-section table td:nth-child(3) {
  width: 100px;
  text-align: center;
}

/* width of the "Pos" column */
#results-section table th:first-child,
#results-section table td:first-child {
  width: 80px;
  text-align: center;
}

/* image logo  */
.logo {
  padding-top: 30px;
  width: 150px;
  height: auto;
  max-width: 100%;
}

/* Popup Styles ------------------------------------------- */
/* Constructor POPUP container */
.conPop {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Constructor content */
.con-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

/* Close button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
